body {font-family: 'Inconsolata', sans-serif;}

h1 {
	font-size: 20px;
	margin: 0.5em, 0;
}

#main {
	width: 700px;
}

#stylesheets {
	padding: 0;
}

#stylesheets li {
	list-style-type: none;

}

.sheet-title a {
	float: right;
}

.sheet-content { 
	max-height: 300px;
	overflow: auto;
}

.btn {
	padding: 5px;
}

.hidden {
	display: none;
	visibility: none;
}

